/**
 * A resume theme based on Marp's Gaia theme.
 *
 * @theme resume
 * @author Octobug
 *
 * @size A4D72 595px 842px
 * @size A4D96 794px 1123px
 * @size A4D150 1240px 1754px
 * @size A4D300 2480px 3508px
 */

@import 'default';

/* layout */
section {
    font-family: 'Times New Roman', Times, serif;
    padding: 40px;
    background-color: white;
}

/* your name */
h1 {
    font-size: 36px;
    text-align: center;
}

/* job title */
h1+p {
    text-align: center;
    margin-top: -24px;
    margin-bottom: 0.5rem;
}

h2,
h3,
p {
    text-align: left;
}

/* section title */
h2 {
    font-size: 28px;
    border-bottom: 1px solid;
    border-color: #cccccc;
}

/* company */
h3 {
    font-size: 24px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* career periods */
h3+p:has(em) {
    text-align: right;
    margin-top: -46px;
    font-family: monospace;
    z-index: -1;
}

/* project */
h4 {
    font-size: 20px;
    margin-top: 5px;
}

a {
    color: inherit;
    text-decoration: underline;
}

/* profile */
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

table th {
    display: none;
}

table tr {
    border: none;
}

table tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0);
}

table td {
    border: none;
    padding: 0em 100px;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 1.5em;
}

table {
    overflow: hidden;
}

/* work experience */
h3 code {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

p,
li {
    color: #555555;
    font-size: 20px;
}

h3 img,
p img,
li img {
    margin-bottom: -3px;
}

p strong,
li strong {
    font-weight: bold;
    color: black;
}
